<!DOCTYPE html>
<html>
	<head>

		<title>ethsocial</title>

		<meta charset="utf-8">
		<link href="bundle.css" rel="stylesheet">

	</head>
	<body>

		<nav>
			<div class="container">
				<h3>ethsocial</h3>
			</div>
		</nav>

		<div class="container">
			<div id="app">

				<div v-if="login">
					<input v-model="address" placeholder="Enter a friend's account" v-on:keyup.enter="changeProfile(address)">

					<div class="panel">
						<a href="#" v-on:click="changeProfile(userId)">My Account</a>
					</div>

					<div id="profile">
						<div>
						<span v-if="profile.userId == userId">
							<input class="name" v-model="profile.name" v-on:keyup.enter="setName(profile.name)" placeholder="What do you want to be called?">
							<input class="bio" v-model="profile.bio" v-on:keyup.enter="setBio(profile.bio)" placeholder="What would you say about yourself?">
						</span>
						<span v-else>
							<h1>{{profile.name}}</h1>
							<h2>{{profile.bio}}</h2>
						</span>
					</div>

						<div class="posts">
							<input v-if="profile.userId == userId" v-model="newPost" class="post" v-on:keyup.enter="submitPost(newPost)" placeholder="What's on your mind?">

							<div class="post" v-for="post in profile.posts">
								<h4>{{post.content}}</h4>

								<div class="comments">
									<div class="comment" v-for="comment in post.comments">
										<h5><a href="#" v-on:click="changeProfile(comment.userId)">
											{{comment.userId}}
										</a> {{comment.content}}</h5>
									</div>

									<input class="comment" v-model="post.newComment" v-on:keyup.enter="submitComment(post.userId, post.postId, post.newComment)" placeholder="What do you think?">
								</div>

							</div>
						</div>
					</div>
				</div>

				<div v-else v-on:click="createAccount">
					<a>Make an account!</a>
				</div>

			</div>
		</div>

		<script src="bundle.js"></script>

	</body>
</html>
