<!DOCTYPE html>
<html>
	<head>
		<title>ethsocial</title>

		<link href="bundle.css" rel="stylesheet">

	</head>
	<body>

		<nav>
			<div class="container">
				<h3>ethsocial</h3>
			</div>
		</nav>

		<div class="container">
			<div id="app">

				<div id="profile">
					<h1>{{profile.name}}</h1>
					<h2>{{profile.bio}}</h2>

					<div class="posts">
						<div class="post" v-for="post in profile.posts">
							<h4>{{post.content}}</h4>

							<div class="comments">
								<div class="comment" v-for="comment in post.comments">
									<a href="#" v-on:click="changeProfile(comment.userId)">
										{{comment.userId}}
									</a>
									<h5>{{comment.content}}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<script src="bundle.js"></script>

	</body>
</html>
